<div class="product">
  <%= link_to product_path(product) do %>
    <%= image_tag product.image_1.medium %>
  <% end %>

  <h3><%= link_to product.title, product_path(product) %></h3>

  <p>$10</p>
</div>